@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

#piano-roll {
  display: flex;
  user-select: none;
}

.note {
  width: 100px;
  height: 25px;
  background-color: #2ff083;
  text-align: center;
}

.note:hover {
  background-color: rgba(139, 33, 232, 0.383);
}

.timeline-row-grid {
  display: flex;
}

.timeline-row {
  display: flex;
  border-top: #fff solid 1px;
}

.timeline-cell {
  width: 50px;
  height: 25px;
  background-color: rgb(83, 83, 83);
  border-right: rgb(107, 107, 107) solid 1px;
}

.timeline-cell.play-head {
    background-color: rgb(101, 16, 175);
}

.timeline-cell.active {
  background-color: rgb(189, 26, 26);
}

.timeline-cell:nth-child(4n) {
  border-right: #a7a7a7 solid 1px;
}

.timeline-cell:hover {
  background-color: rgb(139, 33, 232);
}

.timeline-cell.active:hover {
  background-color: rgb(189, 80, 26);
}

button {
  padding: 8px 16px;
  margin: 5px;
  background-color: #535353;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

#loop-btn.active {
  background-color: #2ff083;
  color: black;
  animation: pulse 0.8s ease-in-out infinite;
}

#play-btn.active {
  background-color: #0691e2; /* Change this to whatever color you want */
  color: rgb(194, 229, 17);
}
